root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.blade.php]
indent_size = 4

[*.php]
php_version = 8.2


step 5: README.md

# Caremi Pro Framework MVC
The skeleton application for the Pro-MVC framework.
# Caremi Pro Mvc PHP Framework

> A modern, fast, and lightweight PHP framework designed for building clean, expressive, and scalable web applications.

---

## Features

- Custom Router
- PSR-7 & PSR-15 middleware support
- Custom Blade-like template engine
- Powerful CLI tooling
- Modular service provider architecture
- Secure session, validation, logging, and configuration systems
- Built-in support for SQLite, MySQL (via Doctrine DBAL)

---

## Installation

```bash
composer create-project caremillc/caremi-pro-mvc my-app

cd my-app

```

## Run composer 

```bash 
composer install 
``` 

## Generate .env APP_KEY 
```bash 
php caremi env:generate 
``` 